
nav{
    display: flex;
 justify-content: space-between;
 margin: 24px 160px 24px 160px;
}


.title-top{
    font-size: 32px;
    font-weight: bold;
}

.title-flag{
    font-size: 24;
    color: rgba(14, 14, 14, .5)

}

.sign-in-top{
    width: 116px;
    height: 52px;
    
    color: #006A50;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid green;
    border-radius: 10px;
    padding: auto;
}

.banner-flag{

    display: flex;
    gap: 64px;
    background-color: #C6E4D6;
    margin: 24px 160px auto 160px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    height: 400px;
    margin-bottom: 100px;

}
.main-flag{
    font-size: 56px;
    font-weight: bold;
}

.btn-primary{
    color: white;
    background-color:#006A50 ;
    padding: 17px 34px 17px 34px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;

}

/*pillars syle */

.all-pillars{
    display: flex;
    margin-top: 32px;
    margin-bottom:80px;
}


.pillars-section{
    margin: 80px 130px 80px 135px;
}


.pillars-containar{
    width: 302px;
    height: 244px;
    padding: 24px;
    box-shadow: 5px 5px 10px gray;
    margin-right: 24px;
    border-radius: 5px;
    
}

.pillars-con-title{
 font-size: 20px;
 font-weight: bold;
 color: rgba(14, 14, 14, 80%);

}

.pillars-description{
font-size: 16px;
color: rgba(14, 14, 14, 70%);


}


.pillars-title{
    font-weight: bold;
    font-size: 40px;
}

/*vision design*/
.the-vision-section{

    margin: 80px 130px 80px 135px;
}

.title-box{
    margin-top: 80px;
    margin-bottom: 32px;
}

.pillars-containar1{
 padding: 32px 32px 32px 32px;
 border-radius: 10px;
 width: 410px;
 height: 295px;
 margin-right: 24px;
 background-color: rgba(84, 144, 245, 20%);
}
.pillars-containar2{
  padding: 32px 32px 32px 32px;
 border-radius: 10px;
 width: 410px;
 height: 295px;
 margin-right: 24px;
 background-color: rgba(9, 161, 92, 20%);
}
.pillars-containar3{
     padding: 32px 32px 32px 32px;
 border-radius: 10px;
 width: 410px;
 height: 295px;
 background-color: rgba(255, 194, 57, 20%);
 

}
.btn1{
    color: white;
    padding: 11px 20px 11px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color:#5490F5 ;
}
.btn2{
    color: white;
    padding: 11px 20px 11px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: #09A15C;
}
.btn3{
    color: white;
    padding: 11px 20px 11px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color:#FFC239;

}
.all-btn{
    margin-top: 24px;
    
}
.vision-last-section{
    box-shadow: 2px 2px 2cap 2px gray;
    
    background-image: url(/assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 48px 24px 48px 24px;
    border-radius: 10px;
}
.section-title-description{
    color: rgba(14, 14, 14, 70%);
    font-size: 16px;
}

.vision-yunus{
    font-weight: 600;
    font-size: 20px;
    color: rgba(14, 14, 14, 80%);
}


/*table style*/




.main-tabil{
    padding: 32px;
    border-radius: 10px;
    
}

.table{
    width: 1216px;
    height: 345px;
    border: 5px solid black;
}


.table-section{
    margin: 80px 130px 80px 135px;
    box-shadow: 5px 5px 5px gray;
    padding: 32px;
    border-radius: 15px;
}
.spred-question{
    width: 1016px;
    height: 92px;
    padding: 24px;
}
.option{
    width: 200px;
    height: 92px;
    padding: 24px;
    
}
.table-head1 , .table-head2{
    background-color: #C6E4D6;
}

.question{
    font-weight: 700;
    font-size: 20px;
}
.spred-question{
    font-weight: 700;
    font-size: 16px;
}
.opt-color{
    background-color:#C6E4D6 ;
    padding: 20px;
}


/*news style*/




.newses{
    display: flex;
    gap: 32px;
    padding: 48px;
    margin-bottom:24px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px 2px gray;
}
.recent-news{
    margin: 80px 130px 80px 135px;

}
.all-button{
    margin-top: 32px;
}
.news-head{
    font-weight: bold;
    font-size: 32px;
    color: rgba(14, 14, 14, 80%);
}

.news-element , .date{
    font-size: 16;
    color: rgba(14, 14, 14, 70%);
}
.time{
    display: flex;
    gap: 20px;
}