
nav{
    display: flex;
 justify-content: space-between;
 margin: 24px 160px 24px 160px;
}


.title-top{
    font-size: 32px;
    font-weight: bold;
}

.title-flag{
    font-size: 24;
    color: rgba(14, 14, 14, .5)

}

.sign-in-top{
    width: 116px;
    height: 52px;
    
    color: #006A50;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid green;
    border-radius: 10px;
    padding: auto;
}

.banner-flag{

    display: flex;
    gap: 64px;
    background-color: #C6E4D6;
    margin: 24px 160px auto 160px;
    padding: 80px 100px 80px 100px;
    border-radius: 24px;
    height: 400px;
    margin-bottom: 100px;

}
.main-flag{
    font-size: 56px;
    font-weight: bold;
}

.btn-primary{
    color: white;
    background-color:#006A50 ;
    padding: 17px 34px 17px 34px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;

}